*{ 
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
}

ul{ 
	list-style: none;
	padding: 0;
}
h1{
	text-align: center;
	color: #4CAF50;
	font-size: 3.5em;
}
 h3{
	color:#4CAF50;
	}

.Banner{
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:relative;
	z-index: 10;
}
.Banner h2{
	text-transform: uppercase;
  	color: #4CAF50;
  	margin-left: 10%;
	font-size:1.5em;
}
.Banner p{
	color: white;
	margin-left: 10%;
    font-size:1.3em;
}
.inner-banner img{
  	position: absolute;
 	top:120px;
  	right:150px;
  	z-index: 0;
  	width:220px;
  	border-radius: 150px;
}
					/*ABOUT ME*/
.container-1{
	height: auto;
	margin:0 80px;
}
.About img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width:200px;
}
.name{
	color: #4CAF50;
	font-size: 1.7em;

}
.About p{
	text-align: justify;

}
.About{
	margin-top: 10px;
}

/*SKILLS*/
.container-2{
	background-image: url("images/contact form.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 50px 10px;

}
.Skills{
	border:2px solid white ;
	background-color: white;
	-moz-box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
	margin: 0 25%;
	width:55%;
	height:180px; 
	padding:5px;
}
.Skills img{
	height: 80px;
	width:80px;
}
.container-3{
	padding: 25px 10px;
}
.Projects img{
	background-color: #4CAF50;
	display: block;
	width: 350px;
	height:200px;
	margin:10px auto;
	padding: 10px;
	border-radius: 5px;
}
.Projects p{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}
 .Projects img:hover{
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    }
/*Contact*/
.container-4{
	background-image: url("images/contact form.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 25px;
	min-height: 60vh;
}
.Contact{
	background-color:white;
	font-size: 1em;
	float:left;
	width:30%;
	border:1px solid grey;
	border-radius:5px;
	box-sizing:border-box;
	-moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
	padding: 10px;
	margin:0 10px;
	text-align: center;
}
/*Footer*/
.footer{
	background-color: #333;
	text-align: center;
	color: white;
	padding:15px;
}


/*Responsive*/
@media(max-width: 600px){
	h1{
		font-size: 2.5em;
	}
	.container-1{
		margin:0 25px;
		text-align: justify;
	}
	.Skills{
		width:90%;
		height: 50%;
		margin:0 15px 0 15px;
		}
		.Skills img{
			width: 50px;
			margin-left: 8px;
		}
	
		.Contact{
			float: none;
			width: 70%;
			margin: 0 50px 5px 50px;
		}
		.inner-banner img{
			right:25px;
		}
}
